<div
  class="taskCard card 
  {{!-- border-left-secondary  --}}
  {{#if (compare status_id '===' 1)}} border-left-primary {{/if}}
  {{#if (compare status_id '===' 2)}} border-left-warning {{/if}}
  {{#if (compare status_id '===' 3)}} border-left-success {{/if}}

  shadow h-100 pt-2 mb-4"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-task-id={{id}}
  data-status-id={{status_id}}
  data-task-name="{{task_name}}"
  data-task-description="{{description}}"
>
  <div class="col mr-2">
    <div class="row">
      <div
        class="col-6 text-xs font-weight-bold text-primary text-uppercase mb-1"
      >
        Task ID:
        {{id}}
        {{!-- {{task_name}} --}}
      </div>
      <div
        class="deadlineDiv col-6 text-right text-xs font-weight-bold text-primary text-uppercase mb-1"
      >
        {{formatDate deadline}}</div>
    </div>
    <div class="mb-0 font-weight-bold text-gray-800">{{task_name}}</div>
    <div class="row">
      <div class="mt-0 col-12">
        <div class="cardAvatarIcons d-flex justify-content-end">
          {{#each task_employees as |task_employee|}}
            <img
              height="30px"
              width="30px"
              class="mx-1 img-profile rounded-circle"
              src={{task_employee.profile_pic_link}}
            />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>